<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="modules/vue2/vue.js"></script>
	</head>
	<body>
		<table border="1" cellpadding="0" cellspacing="0">
			<tr>
				<th colspan=2 align="center">登录界面</th>
			</tr>
			<tr>
				<td>请输入用户名：</td>
				<td><input v-on:focus= "handleFocus" v-on:blur="handleBlur" :style="userNameStyle" v-model="username" type=text name=user size=16/></td>
				
			</tr>
			<tr>
				<td>请输入密码：</td>
				<td><input v-model="password" type=password name=pwd size=16/></td>
			</tr>
			<tr>
				<!-- <td colspan="2" align="right" @click.capture.stop="modelClick"> -->
				<td colspan="2" align="right" @click.self="modelClick">
				<!-- <td colspan="2" align="right" @click.once="modelClick"> -->
					<span style="color: red;" v-text="errMsg"></span>
					<input type="submit" value="登录" @click="btnClick" v-if="! isLogining"/>
					<input v-else type="submit" value="登录中..."/>
				</td>
			</tr>
			
		</table>
	<script type="text/javascript">
		var vv = new Vue({
			el:'table',
			methods:{
				handleFocus:function(){
					this.userNameStyle={
						margin: "16px",
						borderColor: "red",
					}
				},
				handleBlur: function(){
					this.userNameStyle={
						// borderColor:'red'
					}
				},
				modelClick:function(){
					console.log('modelClick');
				},
				btnClick:function(){
					console.log('btnclick');
					this.isLogining=true;
					//模拟发起请求，2秒后后台返回结果
					var that = this;
					setTimeout(function(){
						// vv.errMsg='登录失败，请检查密码是否正确？';
						// vv.isLogining = false;
						that.errMsg='登录失败，请检查密码是否正确？';
						that.isLogining = false;
					},2000);
				}
			},
			data:{
				isLogining: false,
				username: "rose",
				password: '8888888',
				errMsg: '',
				userNameStyle:{}
			}
		})

	</script>
	</body>
</html>